{% extends "base.html" %}

{% block meta_content %}
    {% set title = "Tags -&nbsp;Andrej's blog" %}
    <title>{{ title }}</title>
    <meta name="twitter:title" content="{{ title | safe }}">
    <meta property="og:title" content="{{ title | safe }}" />

    {% set description = "List of all tags in the blog" %}
    <meta name="description" content="{{ description | safe }}" />
    <meta name="twitter:description" content="{{ description | safe }}">
    <meta property="og:description" content="{{ description | safe }}" />

    <meta property="og:type" content="website" />
{% endblock meta_content %}

{% block content %}
<main>
    <h1 class="page-title">Tags ({{ terms | length }} in total)</h1>
    <ul>
        {% for tag in terms %}
        <li><a href="{{ get_taxonomy_url(kind="tags", name=tag.name) }}">{{ tag.name }}</a> ({{ tag.pages | length }})</li>
        {% endfor %}
    </ul>
</main>
{% endblock content %}