{% extends "base.html" %} {% block meta_content %} {% set title = "Tag '" ~
term.name ~ "' -&nbsp;Andrej's blog" %}
<title>{{ title }}</title>
<meta name="twitter:title" content="{{ title | safe }}" />
<meta property="og:title" content="{{ title | safe }}" />

{% set description = "List of all blog articles with tag '" ~ term.name ~ "'" %}
<meta name="description" content="{{ description | safe }}" />
<meta name="twitter:description" content="{{ description | safe }}" />
<meta property="og:description" content="{{ description | safe }}" />

<meta property="og:type" content="website" />
{% endblock meta_content %} {% block content %}
<main>
  <h1 class="page-title">Posts tagged with {{ term.name }}</h1>
  {% for year, posts in term.pages | group_by(attribute="year") %}
  <h2 class="blog-year">{{ year }}</h2>
  <ul class="blog-links">
    <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->
    {% for post in posts %}
    <li>
      <span class="margin-note">{{ post.date }}</span>
      <a class="lscl black" href="{{ post.permalink | safe }}">{{ post.title }}</a>
      <div class="description">{{ post.description }}</div>
      {% if post.taxonomies.tags %}
      <div class="article-tags-list">
        <ul class="inline-list-spaced it">
        {% for tag in post.taxonomies.tags %}
            <li><a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag }}</a></li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</main>
{% endblock content %}
