@import url("normalize.css");
@import url("ascetic-white.css");
@import url("fonts/custom.css");
/* copied from https://gitlab.com/andrejr/srtools/-/blob/master/docs/_static/custom.css */

:root {
  --aside-margin: 3ch;
  --aside-width: 14ch;
  --article-width: 53ch;
  --default-margin: 1em;
  --indent-width: 4ch;
  --foreground-color: #323230;
  --background-color: #eeeee7;
  --link-color: #914142;
  --link-hover-color: #b37273;
  --mono-font: "Inconsolata LGC", monospace;
  --mono-height: 90%;
}

/* ===========================================================================
Reset
============================================================================ */

* {
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ===========================================================================
Typography
============================================================================ */

html {
  font-size: 2.2vw;
}
@media all and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

@media all and (max-width: 624px) {
  html {
    font-size: 4vw;
  }
}

body {
  font-family: "XCharter", "Charter", "Bitstream Charter", "Palatino",
    "URW Palladio", "URW Palladio L", "Linux Libertine", "Cochineal", sans-serif;
  font-variant-numeric: oldstyle-nums;
  font-feature-settings: "onum";
  /* font-size: 1em; */
}

article,
main {
  hyphens: auto;
}

article,
main {
  text-align: justify;
}

pre,
code {
  font-family: var(--mono-font);
  font-size: var(--mono-height);
  hyphens: manual;
}

/* ===========================================================================
General rules
============================================================================ */

html {
  height: 100%; /* We still have to fix html height */
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
}

body,
h1,
.acl,
h2,
.lscl,
h3,
.it {
  font-size: 100%;
}

h1,
.acl {
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.18em;
}

h1 {
  padding: var(--default-margin) 0;
  border-bottom: 1px solid;
  margin-bottom: var(--default-margin);
}

h2,
.lsc,
.lscl {
  font-weight: normal;
  text-transform: lowercase;
  font-variant: small-caps;
  font-style: normal;
}

h2,
.lscl {
  letter-spacing: 0.1em;
}

h3,
.it {
  font-weight: normal;
  font-style: italic;
}

h1,
h2,
h3 {
  text-align: left;
}

h2,
h3 {
  margin: var(--default-margin) 0;
}

ul {
  list-style-type: "\2013\00a0\00a0";
  margin-left: 0;
}

ul ul {
  margin-left: 2ch;
}

ol {
  padding: 0;
  counter-reset: custom-counter;
  list-style-type: none;
}

ol li {
  position: relative;
  counter-increment: custom-counter;
  text-align: left;
}

ol li:before {
  content: counter(custom-counter) " ";
  position: absolute;
  right: 100%;
  margin-right: 1ch;
}

ol li span {
  display: inline-block;
  text-align: left;
}

table {
  margin: var(--default-margin) auto;
  border-bottom: 1px solid var(--foreground-color);
  border-collapse: collapse;
}

table thead tr th {
  border-top: 1px solid var(--foreground-color);
  border-bottom: 1px solid var(--foreground-color);
}

th {
  font-weight: normal;
  text-transform: lowercase;
  font-variant: small-caps;
  font-style: normal;
}

th,
td {
  padding: 0.2em 0.8em;
  text-align: left;
}

aside,
.margin-note {
  left: calc(0em - calc(var(--aside-width) + var(--aside-margin)));
  width: var(--aside-width);
  float: left;
  position: absolute;
  text-align: right;
  list-style-type: none;
  clear: both;
  margin-bottom: var(--default-margin);
  font-variant-numeric: normal;
  font-style: italic;
  hyphens: manual;
}

p {
  margin: 0;
}

p + p,
p + aside + p {
  text-indent: var(--indent-width);
}

p:first-child {
  text-indent: 0ch;
}

blockquote {
  font-style: italic;
  margin: var(--default-margin) 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--link-hover-color);
}

hr {
  color: var(--foreground-color);
  border: none;
  height: auto;
}

hr::before {
  content: "※※※";
  display: block;
  text-align: center;
  letter-spacing: var(--default-margin);
  margin: 0.5em;
}

/* ===========================================================================
General classes
============================================================================ */

.black {
  color: var(--foreground-color);
}

.up {
  font-style: normal;
}

.align-right {
  text-align: right;
}

.inline-list-spaced {
  display: inline;
  list-style: none;
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding-left: 0;
}
.inline-list-spaced > li {
  display: inline;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* ===========================================================================
Specific classes
============================================================================ */

/* code block background color */
.z-code {
  background-color: transparent;
}

.tags {
  margin-right: 0.5em;
}

ul.nav-links {
  font-style: italic;
  list-style-type: none;
  margin-top: var(--default-margin);
  margin-left: 0;
}

.blog-year,
.tags-list {
  margin-top: var(--default-margin);
}

.page-title {
  padding-top: 0;
  margin-top: 0;
}

h3.date-in-article {
  margin-bottom: var(--default-margin);
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
  margin: var(--default-margin) auto;
}

.pixel-art {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -webkit-optimize-contrast; /* Older versions of Chrome, Safari, and Opera */
  image-rendering: pixelated; /* Chrome */
  image-rendering: crisp-edges; /* Safari */
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

ul.blog-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav.pagination {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.article-tags-list {
  margin-top: 0;
}

ul.blog-links > li + li {
  margin-top: var(--default-margin);
}

ul.footer-links {
  text-align: center;
  margin-bottom: 0;
  display: block;
  margin-top: var(--default-margin);
}

.wifey {
  margin-bottom: 0.3em;
  font-style: italic;
  text-align: center;
}

.pagination-separator {
  width: auto;
  min-width: 1em;
}

/* ===========================================================================
Layout
============================================================================ */
body {
  position: absolute;
  min-height: 100%;
  min-width: 100%;

  display: grid;
  grid-template-columns: [sidebar]1fr [article] auto 1fr;
  grid-template-rows: [main] 1fr [footer] auto;

  padding: 0;
  padding-top: var(--default-margin);
}

article,
main {
  width: var(--article-width);
  position: relative;
  grid-column: article;
  grid-row: main;
}

footer {
  margin-top: 2em;
  min-height: 2em;
  grid-column: article;
  grid-row: footer;
}

nav.name {
  grid-row: main;
  grid-column: sidebar;
  text-align: left;
  margin-bottom: 2em;
  margin-left: var(--default-margin);
}

/* ===========================================================================
Media queries
============================================================================ */

@media screen and (max-width: 1400px) {
  article,
  main,
  footer {
    width: var(--article-width);
    margin-left: calc(var(--aside-margin) + var(--aside-width));
  }

  /* body {
    background: lightgreen;
  } */
}

@media screen and (max-width: 1000px) {
  body {
    grid-template-rows: [header] auto [main] 1fr [footer] auto;
  }

  nav.name {
    grid-row: header;
    grid-column: 1 / 3;
  }

  ul.nav-links {
    display: inline-block;
    margin: 0;
    padding-left: 0;
  }

  .nav-links > li {
    display: inline;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  /* body {
    background: lightpink;
  } */
}

@media screen and (max-width: 624px) {
  aside {
    width: 80%;
    float: none;
    text-align: left;
    position: static;
    clear: left;
    margin: var(--default-margin) auto;
  }

  p + aside + p,
  aside + p {
    text-indent: 0;
  }

  article,
  main,
  footer {
    width: auto;
    min-width: 20ch;
    max-width: var(--article-width);
    margin-left: var(--aside-margin);
    margin-right: var(--aside-margin);
  }

  pre {
    font-size: 70%;
  }

  /* body {
    background: lightseagreen;
  } */
}
