<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="twitter:card" content="summary" />
    <!-- <meta name="twitter:site" content="twitter_account" />
    <meta name="twitter:creator" content="twitter_account" /> -->
    <meta
      property="og:url"
      content="{{config.base_url | safe}}/{{current_path | safe}}"
    />
    <meta property="og:site_name" content="{{ config.title | safe }}" />
    {% if config.generate_feeds %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path=config.feed_filenames[0], trailing_slash=false) }}" />
    {% endif %}

    {% block meta_content %}
    <meta name="twitter:title" content="{{ config.title | safe }}" />
    <meta property="og:title" content="{{ config.title | safe }}" />

    <meta name="description" content="{{ config.description | safe }}" />
    <meta
      name="twitter:description"
      content="{{ config.description | safe }}"
    />
    <meta property="og:description" content="{{ config.description | safe }}" />

    <meta property="og:type" content="website" />
    {% endblock meta_content %}

    <!-- styles -->
    <link rel="stylesheet" href="{{ get_url(path="styles.css") }}"/>
    <script src="{{ get_url(path="script.js") }}"></script>

    <!-- Favicons -->
    <link rel="icon" href="{{ get_url(path="favicon.ico") }}" sizes="any" />
    <link rel="icon" href="{{ get_url(path="favicon.svg") }}" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="{{ get_url(path="apple-touch-icon.png") }}" />

    <!-- Manifest -->
    <link rel="manifest" href="{{ get_url(path="manifest.webmanifest") }}" />
  </head>

  <body>
    <nav class="name">
      <a href="{{ config.base_url }}" class="acl black">Andrej Radović</a>
      <ul class="nav-links">
        <li><a href="{{ get_url(path='@/blog/_index.md') }}">blog</a></li>
      </ul>
    </nav>
    {% block content %} {% endblock %}
    <footer class="post-footer">
      {% block footer %} {% endblock %}
        <ul class="footer-links inline-list-spaced lscl">
          {% if config.generate_feeds %}
          <li><a href="{{ get_url(path=config.feed_filenames[0], trailing_slash=false) }}">RSS</a></li>
          {% endif %}
          <li><a href="https://gitlab.com/andrejr/andrejr.gitlab.io" target="_blank">GitLab</a></li>
        </ul>
        <p class="wifey">
          Made with <a href="https://www.getzola.org/">Zola</a> by
          <a href="https://nevenaradovic.me/" target="_blank">my wife</a>
        </p>
    </footer>
  </body>
</html>
