{% extends "base.html" %} 

{% block meta_content %}
    {% if page.title %}
      {% set title = page.title ~ " -&nbsp;Andrej's blog" %}
    {% else %}
      {% set title = "Andrej's website and blog" %}
    {% endif %}
    <title>{{ title | safe }}</title>
    <meta name="twitter:title" content="{{ title | safe }}">
    <meta property="og:title" content="{{ title | safe }}" />

    {% if page.description %}
    <meta name="description" content="{{ page.description | safe }}" />
    <meta name="twitter:description" content="{{ page.description | safe }}">
    <meta property="og:description" content="{{ page.description | safe }}" />
    {% endif %}
    <meta property="og:type" content="article" />
{% endblock meta_content %}

{% block content %}
<article>
  <h1 class="page-title">{{ page.title }}</h1>
  <h3 class="date-in-article">{{ page.date }}</h3>
  {{ page.content | safe }}
  {% if page.taxonomies.tags %}
  <div class="tags-list">
    <a href="/tags"><span class="lscl black tags">tags:</span></a>
    <ul class="inline-list-spaced it">
    {% for tag in page.taxonomies.tags %}
        <li><a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag }}</a></li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
</article>
{% endblock content %}

{% block footer %}
<nav class="pagination">
  {% if page.higher %}
  <a href="{{ page.higher.permalink }}"">
    <div>
      <div class="it"><span class="up"><<</span> older article</div>
      <div class="lscl">{{ page.higher.title }}</div>
    </div>
  </a>
  {% endif %} 
  <div class="pagination-separator">
  </div>
  {% if page.lower %}
  <a href="{{ page.lower.permalink }}">
    <div class="align-right">
      <div class="it">newer article <span class="up">>></span></div>
      <div class="lscl">{{ page.lower.title }}</div>
    </div>
  </a>
  {% endif %}
</nav>
{% endblock footer %}
