{% extends "base.html" %}

{% block meta_content %}
{% set title = config.title %}
<title>{{ title | safe }}</title>
<meta name="twitter:title" content="{{ title | safe }}" />
<meta property="og:title" content="{{ title | safe }}" />

{% set description = config.description %}
<meta name="description" content="{{ description | safe }}" />
<meta name="twitter:description" content="{{ description | safe }}" />
<meta property="og:description" content="{{ description | safe }}" />

<meta property="og:type" content="website" />
{% endblock meta_content %}

{% block content %}
<article>
  <h1 class="page-title">{{ section.title }}</h1>
  {{ section.content | safe }} </article>
{% endblock content %}
